<section class="main-container">
	<h1>Placeholder Hack</h1>
</section>

<section class="title-container centered">
	<p>GroupChat</p>
</section>

<section class="sign-in-container centered">
	<p>Connect</p>
</section>

<section class="menu-container">
	<div class="menu centered">
		<div class='find-room'>
			<div class="icon grow centered"><img src="assets/search19.png"/></div>
			<p>Find a Room</p>
		</div>
		<div class="create-room">
			<div class="icon grow centered"><img src="assets/group41.png"/></div>
			<p>Create a Room</p>
		</div>
	</div>
</section>

<section class="create-input-container">
	<div class="create-input-top centered">
		<div class="image centered"><img src="assets/group41.png"/></div>
		<p>Room</p>
	</div>
	<div class="create-input-middle centered">
		<div class="create-middle left">
			<div class="image centered"><img src="assets/edit24.png"/></div>
			<p>Enter</p>
		</div>
		<div class="create-middle right">
			<div class="image centered"><img src="assets/leter.png"/></div>
			<p>Name</p>
		</div>
	</div>
	<div class="create-input-bottom centered">
		<input type="text" class="centered" placeholder="Enter Name Here"></input>
		<div class="down-arrow centered"><img src="assets/check30.png" class="grow"/></div>
	</div>
</section>

<section class="overlay">
	<div class="close">
		<img src="assets/thin24.png"/>
	</div>
</section>

<section class="loading-overlay">
	<div class="circle-container centered">
		<div class="circle"></div>
	</div>
</section>

<section class="black-overlay">
</section>